html, body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: sans-serif;
}

body {
	background-color: var(--background-gray);

	color: var(--text);
}

:root {
	--red: rgb(201, 22, 22);
	--text: rgb(246, 246, 246);
	--text-hover: rgba(150, 145, 145, 1);
	--fv: rgb(239 181 101);
	--blue: rgb(50, 50, 90);
	--background-input-gray: rgb(14, 14, 14);
	--background-darker-gray: rgb(19, 19, 19);
	--background-gray: rgb(37, 36, 36);

	--header-margin-percent: 15%;
	--default-header-height: 7%;
}

@font-face {
	font-family: F1Regular;
	src: url("../static/assets/font/Formula1-Regular.otf") format("opentype");
}

@font-face {
	font-family: F1Bold;
	src: url("../static/assets/font/Formula1-Bold.otf") format("opentype");
}

::-webkit-scrollbar {width: .5vw;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px black;}
::-webkit-scrollbar-thumb {background: var(--fv);}

.notFound {
	padding: 10%;
	font-size: 200%;

	span {
		background-color: black;
		border-radius: 8px;
		padding: 5px;
	}
}

input {
	background-color: var(--background-input-gray);
	border: none;
	color: var(--text);
	font-size: 1.3rem;
}
input:focus {outline: none !important;}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}