@use "Default";

.neonButton {
	user-select: none;
	cursor: pointer;
	border: 3px solid;
	border-radius: 10px;
	padding: 1vh 2vw 1vh 2vw;
	box-sizing: border-box;
	height: 5vh;
	width: fit-content;
	transition: .5s;
	display: flex;
	align-items: center;
	font-weight: bold;

	text-decoration: none;
	color: white;
}

.neonButtonRed {border-color: var(--red);}
.neonButtonRed:hover {background-color: var(--red);}

.neonButtonBlue {border-color: var(--blue);}
.neonButtonBlue:hover {background-color: var(--blue);}

.neonButtonFV {border-color: var(--fv);}
.neonButtonFV:hover {
	background-color: var(--fv);
	color: black;
}

.neonButtonWhite {}
.neonButtonWhite:hover {
	background-color: white;
	border-color: white;
	color: black;
}