@use "Default";

:root {
	--page-padding: 1vw;
	--page-width: calc(100% - var(--header-margin-percent)*2 - var(--page-padding)*2);
}

.page {
	position: relative;
	top: 0;
	left: var(--header-margin-percent);
	align-self: center;

	display: flex;
	flex-direction: column;

	width: var(--page-width);
	height: 100%;

	background-color: var(--background-darker-gray);

	-webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.75);
	box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.75);

	overflow: hidden;
	overflow-y: auto;

	padding: var(--page-padding);
}

.homePageContainer {
	align-items: center;
	align-content: center;
	text-align: center;
	justify-content: center;

	img {
		position: absolute;
		top: calc(50% - var(--page-width) / 2);
		left: calc(50% - var(--page-width) / 2);

		width: 50%;
	}
}

.newsPageContainer {}

.schedulePageContainer {}

.historyPageContainer {}

.driversPageContainer {}

.academiesPageContainer {}

.teamsPageContainer {}

.livePageContainer {}