@use "Default";

.textButton {
	color: var(--text);
	cursor: pointer;
	user-select: none;
	font-size: 125%;
	height: 100%;
}
.textButton:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}