@use "Default";

.textButton {
	color: var(--text);
	cursor: pointer;
	font-weight: bold;
	user-select: none;
	font-size: 150%;
}
.textButton:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}